body {
    background-color: black;
    margin: 0rem;
    padding: 0rem;
}

:root {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 10em;    
}


@media (max-width: 680px) {
    h1{ 
        writing-mode: vertical-lr;
    }

}