body {
    overflow-y: scroll;
    background: black;
    color-scheme: dark;
}
:root {
    color:black;
}
a {
    padding: 0px;
    border: none;
}

.imageLink{
    display: block;
    margin-bottom: 0;
    font-size: 0;
    
}

#returnHome {
    padding: 1rem 4rem;
    border: 0.1rem white solid;
}
#returnHome:hover{
    border-color: #ff828a;
}
#mainGallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow-x: hidden;
}
.galleryImage {
    width: 16.6vw;
    height: 16.6vw;
    object-fit: cover;
}

.galleryImage:hover {
    outline:4px solid #ff828a;
    outline-offset:-3px;
  }

@media (max-width: 1200px) {
    .galleryImage {
        width: 20vw;
        height: 20vw;
    }
    #mainGallery {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

}

@media (max-width: 1000px) {
    .galleryImage {
        width: 25vw;
        height: 25vw;
    }
    #mainGallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}

@media (max-width: 680px) {
    .galleryImage {
        width: 33.3vw;
        height: 33.3vw;
    }
    #mainGallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
