body {
    overflow: scroll;
    background: black;
}

#mainGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: repeat(4, 1fr);
    gap:2px;
}
.galleryImage {
    width: 25vw;
    height: 25vw;
    object-fit: cover;

}

.galleryImage::after {
    box-shadow:  inset 200px 200px white;
}