body {
    margin: 0rem;
    padding: 0rem;
    background: black;
    overflow-y: hidden;
    color-scheme: dark;
}
:root {
    color: white;
    font-family:"Source Code Pro", monospace, Verdana, Geneva, Tahoma, sans-serif;
}

#grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100vh;
}

#metadata {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #202024;
}


#titleGroup {
    display:flex;
    flex-direction: row;
    column-gap: 0.3rem;
    justify-content: space-between;
}

#imageContainer {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 0.1rem white solid;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    align-items: center;
}

a:hover {
    color: #ff828a;
    border-color: #ff828a;
    cursor: pointer;
}
#image{
    max-height: 100vh;
    max-width: 80vw;
}


.prompt {
    color: rgb(199, 199, 199);
    padding: 0.3rem;
    font-size: 0.8rem;
    max-height: 15%;
    border: 1px white solid;
}

.promptLarge {
    overflow-y: auto;
}


h3, h4, h5, h6, p {
    margin: 0.5rem 0;
}
.prompt:hover {
    border-color: #ff828a;

}
@media (max-width: 680px) {     
    #imageContainer {
        min-height: inherit;
    }
    body{
        overflow-y: scroll;
    }
    #image{
        max-height: 100vh;
        max-width: 100vw;
    }
    
    #grid{
        display: flex;
        flex-direction: column;
    }

}